.data_Padding_after_login {
  padding-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.top_heading {
  font-size: 25px;
  color: black;
  font-weight: 600;
}

.profile_Edit {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profile_input #input[type="file"] {
  display: none;
}

.resumeview_image_upload {
  margin: auto;
  color: gray;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.Update_profile .react-tel-input .form-control {
  width: 100% !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.update_profile_btn {
    color: #fff !important;
    background-color: #FF0000 !important;
    display: inline-block;
    font-size: 16px;
    padding: 8px 25px;
    text-align: center;
    text-transform: capitalize !important;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none !important;
    text-decoration: none !important;
  }
  
@media only screen and (min-width: 300px) and (max-width: 650px) {
  .data_Padding_after_login {
    padding-top: 20%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
