.course_detail_heading {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #000;
}
.course_detail_content {
  font-weight: 600 !important;
  font-size: 17px !important;
  color: grey;
}
