.home_backImage {
  background-image: url("../images/a.jpg");
  height: auto;
  width: 100% !important;
  background-size: cover;
}
.Event_top_heading {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}
.eventpara_formatting {
  font-size: 30px;
  color: #fff;
}
.hom_page_event_padding {
  padding: 5%;
}
.cards_image {
  width: 100%;
  height: 260px !important;
}
.backcolor_card_tag {
  background-color: #5650ff;
  color: white;
  font-weight: 600;
}
.E_learning_backcolor {
  background-color: grey;
}
.e_learingpara_formatting {
  font-size: 35px;
  color: #000;
}
.e_learning_image {
  width: 60%;
}
.Certification_top_heading {
  font-size: 40px;
  color: #000;
  font-weight: 700;
}
.Certification_para_formatting {
  font-size: 30px;
  color: #000;
}
.gallery_image_formatting {
  width: 100%;
  height: 260px;
}
.e_learing_margin{
    margin-left: 6%;
    margin-right: 6%;
}
@media only screen and (min-width: 300px) and (max-width: 750px) {
  .Event_top_heading {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
  }
  .eventpara_formatting {
    font-size: 15px;
    color: #fff;
  }
  .e_learingpara_formatting {
    font-size: 20px;
    color: #000;
  }
  .e_learning_image {
    width: 100%;
  }
  .Certification_top_heading {
    font-size: 15px;
    color: #000;
    font-weight: 700;
  }
  .Certification_para_formatting {
    font-size: 15px;
    color: #000;
  }
}
