.contact_us_image {
  width: 50px;
}
.address_heading {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.adress_content {
  font-size: 18px;
}

.contact_card_margin {
  margin-left: 15%;
  margin-right: 15%;
}
.contact_us_button {
  background-color: black !important;
  color: white !important;
  text-transform: capitalize !important;
  text-decoration: none !important;
  outline: none !important;
}
@media only screen and (min-width: 300px) and (max-width: 750px) {
  .address_heading {
    font-size: 16px;
    font-weight: 600;
    color: black;
  }
  .adress_content {
    font-size: 14px;
  }
  .contact_card_margin {
    margin-left: 0%;
    margin-right: 0%;
  }
}
